.main-image{
    width: 90%;
    height: 90%;
    background-image: url('../C4D2 CSS Intro and Flexbox/backg.jpg');
    background-size: 100%;
    background-position: center;
    margin: 0 auto;
}

.main-image{
    width: 100%;
    height: 100%;
    background-image: url('../C4D2 CSS Intro and Flexbox/backg.jpg');
    background-size: 100%;
    background-position: center;
}
h1{
    color: white;
    text-align: center;
    font-size: 64px;
}
body{
    margin: 0;
    font-family: 'Gentium Book Plus', serif;
}
.container{
    display: flex;
}
.item{
    width: 400px;
    height: 400px;
    margin: 10px;
    justify-content: center;
    margin-inline-start: auto;
    background-color: red;
}
.mypic{
    width: 400;
    height: 400;
}